@model IEnumerable<DistantLearning.Models.User>
 
<h2>Список пользователей</h2>
<table class="table">
        <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Email)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.StudentId)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.TeacherId)
            </th>
            <th></th>
        </tr>
    </thead>
    @foreach (var user in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => user.Email)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.StudentId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => user.TeacherId)
            </td>
            <td>
                <a class="btn btn-sm btn-primary" asp-action="Edit" asp-route-userid="@user.Id">Права доступа</a>
                <a class="btn btn-sm btn-primary" asp-action="EditIds" asp-route-userid="@user.Id">Привязка к лицу</a>
            </td>
        </tr>
    }
</table>